<div id="post-container">
  <% posts.forEach(post => { %>
  <div class="post">
    <h3>
      <%= post.titulo %>
    </h3>
    <p>
      <%= post.conteudo %>
    </p>
    <p>
      <%= post.data %>
    </p>
    <p>
      <%= post.usuario %>
    </p>
  </div>
  <% }) %>
</div>